.vscode/
__pycache__/

/data/
/temp/
/models/synthetic*
outputs/signals/
outputs/figures/
outputs/hpclogs/
outputs/samples/
outputs/evaluation_scores/
notebooks/samples/

submit.sh

src/models/__pycache__/
src/lrp/__pycache__/
src/explainability/__pycache__/
src/data/__pycache__/
src/plotting/__pycache__/
src/utils/__pycache__/

notebooks/bsc_xai.ipynb

*.pkl
*.wav

